nav#main-menu
    ul.menu
        li.menu-skip
            a(href='#main-content', data-scroll) Skip to Contents
        li.menu-item
            a(href='#widget-twitter', data-scroll) Twitter
        li.menu-item
            a(href='#widget-github', data-scroll) Github
        li.menu-item
            a(href='#widget-lastfm', data-scroll) Last.fm
        li.menu-item
            a(href='#widget-flickr', data-scroll) Flickr
        li.menu-item
            a(href='#widget-activity', data-scroll) Activity
